/* the robotics font nasalization-rg */
@font-face {
  font-family: robotics-original;
  src: url(../../fonts/nasalization-rg.otf);
}

html {
  scroll-behavior: smooth;
}

/* applying margin and padding 0 and font family to whole website */
* {
  font-family: robotics-original;
  margin: 0;
  padding: 0;
  /* background-color: ; */
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-image: url(../static/background-image-for-whole-website.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #00040c;
}

/* applying wartech background image to the whole website  */
header {
  width: 100vw;
  height: 100vh;
  /* background-image: url(../static/landing-page-background.png); */
  /* background-size: cover; */
  /* z-index: 1; */
  overflow: hidden;
}

/* creating a radial gradient on the header  */
/* .radial-gradient {
    background: radial-gradient(rgba(64, 75, 82, 0), rgba(100, 106, 109, 100%));
    width: 100%;
    height: 100%;


} */

/* navbar starts here  */
nav {
  width: 100%;
  z-index: 3;
  display: grid;
  position: fixed;
  place-items: center;
}

.container {
  width: 90%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  width: 60px;
  color: white;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 20px;
}

/* responsive navbar */
.navbar {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #333; */
  padding: 10px;
  color: white;
  margin-right: 40px;

  /* background: #911617; */
}
.linksToggle {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  /* background: #81ffff; */
}

.linksToggle {
  display: none;
  flex-direction: column;
}

.linksToggle a {
  color: white;
  text-decoration: none;
  padding: 14px;
  display: none;
}

.linksToggle.show {
  display: flex;
  opacity: 4;
  height: 175px;

  /* background-color: #650b0b; */
}

.toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  width: 40px;
  height: 4px;
  background-color: white;
  display: none;
}

/* media query */

@media screen and (max-width: 900px) {
  .bar {
    display: inline;
  }
  .links {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .linksToggle {
    position: absolute;
    /* padding: ; */

    height: 30vh;

    margin-right: -80px;
    /* width: %; */
    /* background: linear-gradient(rgb(100, 128, 142), rgb(104, 122, 124)); */
    mix-blend-mode: soft-light;
  }

  .linksToggle a {
    display: block;
  }
}
/* navbar ends here */

/* wartech title for landing page  */
.wartech {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  padding-top: 80px;
}

.wartech div {
  font-size: 8vw;
  color: white;
  letter-spacing: 20px;
  -webkit-text-fill-color: transparent;
  line-height: 0.9em;
  -webkit-text-stroke-width: 1px;
  transition: 0.5s;
}

.wartech div:hover {
  text-shadow: 10px -4px;
}

/* blending the text and translate */
.title-2 {
  translate: 3vw;
  mix-blend-mode: soft-light;
}

.title-1 {
  color: #d9d9d9;
  mix-blend-mode: difference;
}

.title-center {
  translate: 6vw;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .title-center {
    translate: 0;
  }

  .wartech {
    height: 80vh;
  }
}

/* ----making movile view for the landing page  */
@media screen and (max-width: 800px) {
  .links {
    display: none;
  }

  .wartech {
    translate: -20;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .wartech div {
    word-wrap: break-word;
    width: 0;
    font-size: 4.5em;
    line-height: 10vh;
  }

  .left1 {
    translate: -20px 30px;
  }

  .left2 {
    translate: -20px -30px;
    mix-blend-mode: soft-light;
  }

  .right1 {
    translate: -20px 30px;
  }

  .right2 {
    translate: -20px -30px;
    mix-blend-mode: soft-light;
  }

  .title-center {
    text-shadow: 2px -2px;
    translate: -20px 10px;

    font-weight: 500;
  }
}

/* -------------------------------------main section starts  here ------------------------------ */
main {
  /* background-image: url(../static/background-image-for-whole-website.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

/* -----------about section starts here ----------- */
/* .about {
    text-align: center;
} */

.about-heading {
  text-align: center;
  font-size: 8vw;
  margin: 10vw 0 20px 0;
  color: white;
}

.about-para {
  text-align: left;
  margin: auto;
  width: 90%;
  font-size: 2vw;
  margin-bottom: 8vw;
  color: white;
  /* text-align: center; */
}
.register {
  display: flex;
  flex-wrap: wrap;
}
.image_register_stroke {
  width: 25vw;
  margin-top: 5vw;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  align-items: center;
}
.register_text {
  margin-left: 1%;
  font-size: 2vw;
}

.goal {
  display: flex;
  text-align: center;
  width: 90%;
  padding: 20px 0;
  color: white;
  border-radius: 15px;
  margin: auto;
  min-height: 50vh;
  align-items: center;
  background: radial-gradient(rgb(0, 0, 0, 0.7), rgb(49, 49, 49, 0.7));
}
.mission,
.vision {
  opacity: 0;
  transition: opacity 1s;
}

.mission.visible,
.vision.visible {
  opacity: 1;
}

#content {
  opacity: 0;
  transition: opacity 1s;
}

#content.visible {
  opacity: 1;
}
.about-heading {
  opacity: 0;
  transition: opacity 1s;
}

.about-heading.visible {
  opacity: 1;
  transform: translateX(10px);
}

.goal h1 {
  font-size: 4vw;
}
.line1 {
  background-color: white;
  width: 1vw;
  height: 200px;
}

.goal p {
  font-size: 1.5vw;
}

.mission,
.vision {
  margin: 0 20px;
}

.about-line {
  width: 13px;
  height: 80%;
  background-color: white;
}

/* -----------------about section ends here---------------- */
.event_container {
  margin-top: 50px;
}

.event_heading {
  font-size: 10vw;
  margin-left: 30vw;
  color: #81ffff;

  /* justify-content: center; */
  /* transform: rotate(-9deg); */
}

/* evnet slider starts here  */
.EventSlider {
  display: flex;
  align-items: center;
  /* margin-top: 10vw; */
  width: 90%;
  margin: 10vw auto;
  justify-content: center;
  overflow-y: scroll;
  /* rotate: -9deg; */
}

.EventSlider::-webkit-scrollbar {
  display: none;
}

.eventSlider-img {
  width: 30vw;
  border-radius: 10px;
  -webkit-user-drag: none;
  margin: 0px 2vw;
  transition: 0.2s;
}

/* .eventSlider-img:hover {
  scale: 1.2;
} */
.EventCardBorder {
  color: #81ffff;
}

.events_card_container {
  margin-top: 10vw;
  width: 100%;
  padding-bottom: 10vw;
}

.evnet_card {
  width: 60vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* height: 30vh; */
  /* min-height: 30vw;     */

  margin: 15vw 10vw 10px auto;
}
.evnet_card:hover {
  translate: -20px 0;
  transition: 0.4s;
}

@media screen and (max-width: 850px) {
  /* .evnet_card {
    margin: 5vw 10vw 10px auto;
  } */

  .goal {
    min-height: 10vh;
  }

  ::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
    cursor: pointer; /* Color of the scrollbar track */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #81ffff; /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners for the scrollbar handle */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #81ffff;
    cursor: pointer; /* Color of the scrollbar handle on hover */
  }
}

.EventCardBorder {
  position: absolute;
  width: 60vw;
  scale: 1.2;
}

.event_content {
  margin: 0 2vw 0 1vw;
}

.event_name {
  font-size: 1.3vw;
}

/* .event_right_content{
    margin-right: 5vw;
}
.event_discriptoin{

} */
.event_image_right {
  margin-right: 5vw;
}
.discription p {
  font-size: 1.5vw;
}

.event_image img {
  width: 30vw;
}

/*---------------------------- footer starts here ------------------------ */
.main {
  display: flex;
  flex-direction: column;

  gap: 0.5em;
}
.line {
  width: 90vw;
  height: 2px;
  margin: 40px auto;
  background-color: #000000;
}

footer {
  background-color: #595757ad;
  /* height: auto; */
  /* margin-bottom: -10px;
     */
  /* margin: auto; */
  width: 100vw;
}

.flex {
  justify-content: center;
  flex-direction: row;
  margin: auto 40px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 660px) {
  .footer-top {
    justify-content: center;
  }
}

.line {
  width: 90%;
  height: 2px;
  margin: 20px auto;
  background-color: #000000;
}
.comment-and-time {
  display: flex;
  flex: wrap;
  width: 70vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.photo {
  text-align: center;
}
.photo p {
  width: 200px;
}

.tym {
  display: flex;
  margin-bottom: 20px;
}
.comment-and-time {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
#vector {
  width: 100px;
  margin-bottom: 10px;
}

#tym p {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}
.contacts #in {
  margin-left: 0;
}

/* .contacts #fa{
         margin: 16px 17px 0 35px
  }
  .contacts #yu {
      margin: 10px 20px;
  } */
@media screen and (max-width: 500px) {
  .comment-and-time {
    justify-content: center;
  }

  .goal {
    min-height: 20vh;
  }

  .line1 {
    height: 100px;
  }
}
.contacts {
  min-width: 200px;
  /* width: 500px; */
}

.social-media {
  margin: auto 10px;
}
/* ----------------------------footer ends here ----------------------------- */

/* extra */
/* .image-button{
  display: flex;
  flex-direction: column;
} */
.register1 img {
  position: absolute;

  scale: 1.2;
  /* width: 3vw; */
  width: 20vw;
}
.register1 {
  /* margin-top: 10px; */
  margin: 10px;
  font-size: 1.6vw;
  /* font-size: 10px; */
}
/* @media screen and (max-width: 970px) {
  .register1 img {
    width: 16vw;
  }
  .register1 {
    font-size: 1.4vw;
  }
} */

.fixed-button {
  /* padding: 20px; */
  position: fixed;
  bottom: 20vw;
  /* right: 0vw; */
  left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blink 0.5s linear infinite alternate;
  cursor: pointer;
  /* background-color: white; */
}
.fixed-button img {
  position: absolute;
  z-index: 10000;
  width: 15vw;
}
.rulebook {
  z-index: 200000;
  color: white;
  font-size: 1.6vw;
}
@keyframes blink {
  0% {
    opacity: 0.4;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 1.1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  cursor: pointer; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81ffff; /* Color of the scrollbar handle */
  border-radius: 5px;
  /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81ffff;
  cursor: pointer; /* Color of the scrollbar handle on hover */
}
