@font-face {
  font-family: robotics-original;
  src: url(../../fonts/nasalization-rg.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: robotics-original;
  }
 body{
  overflow-y: hidden;
 }
  .main {
      display: flex;
      flex-direction: column;
     
      gap: 0.5em;
    }
    .line{
        width: 90vw;
        height: 2px;
        margin: 40px auto;
        background-color: #000000;
    }
    
    footer{
      background-color: #595757;
      height: auto;
      width: 100vw;
      /* position: absolute; */

      bottom: 0;
  
      
    }
  
    .flex{
    
      justify-content:center ;
      flex-direction: row;
      margin: 40px;
      
  
    
  
    }
  .footer-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      flex-wrap:  wrap;
  }
 @media screen and (max-width:660px) {
    .footer-top{

      justify-content: center;
    } 
 }

  .line{
    width: 90%;
    height: 2px; 
    margin: 20px auto;
    background-color:#000000;
  
  }
  .comment-and-time{
    display: flex;
    flex: wrap;
    width: 70vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  

  .photo{
    text-align: center;
  }
  .photo p{
    width: 200px;
  
  }
 
  
  .tym {
    display: flex;
    margin-bottom: 20px;
  
   
  }
  .comment-and-time{
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
   #vector{
      width: 100px;
      margin-bottom: 10px;
      
    }
  
   #tym p{
      color:#000000;
    }
  
  
  
  a{
      color:#000000;
      text-decoration: none;
     
  
    }
    .contacts #in {
       
        margin-left: 0;
    }

    /* .contacts #fa{
           margin: 16px 17px 0 35px
    }
    .contacts #yu {
        margin: 10px 20px;
    } */
    @media screen and (max-width:370px) {
      .comment-and-time{
        justify-content: center;
      }
    }
    .contacts{
      min-width: 200px;
      /* width: 500px; */
    }

.social-media{
  margin: auto 10px;
}
   
   



