@font-face {
    font-family: robotics-original;
    src: url(../nasalization-rg.otf);
}
*{
    margin: 0;
    padding: 0px;
    font-family: robotics-original;
}
body{
    background-image: url(background-image-for-whole-website.png) ;
    background-repeat: no-repeat;
    width: 100vw;
    background-size:cover;
}
/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    /* color: white; */
    color: black;
    margin: 20px;
}

/* navbar ends here */
.joint-sec
/* background image for whole website  */
.background-image-for-whole-website{
    width: 100vw;
    z-index:  -1 ;
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100vh; */
    /* position: fixed; */
}



/* heading  */

.heading{
    text-align: center;
    font-size: 400%;
    color: black;
    padding-top: 200px;
}

/* team members details  */
.team-container{
    display: grid;
    place-items: center;
}
.secretary{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.memberpage{
    width: 250px;
    height: 450px;
    margin: 40px;
    background: #D9D9D9;
}
.memberpage-background{
    clip-path: polygon(0 0 , 100% 0 ,100% 50% , 0 100%);
    width: 100%;

}
.DP{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #D9D9D9;
    position: relative;
    margin-top: -150px;
    border: solid 10px #D9D9D9;
    left: 50px;
}
.post {
    /* margin-top: 150px; */
    font-size: 1.5em;
    text-align: center;
}
.name{
    font-size: 1.5em;
    text-align: center;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 50px;
}
.TE-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}