/* -------------------------------------group ----------------------------------- */
@font-face {
    font-family: robotics-original;
    src: url(../../fonts/nasalization-rg.otf);
}
*{
    font-family: robotics-original;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    /* background-image: url(/assets/static/background-for-whole-website.png); */
}


/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* navbar ends here */



/* evnets headding  */
.heading h1{
    font-size: 10vw;
    rotate: -9deg;
    text-align: center;
    padding-top: 7vw;
}



/* --------------------------------------event animation starts here ---------------------------- */
.Eventscontainer{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17vw;
}
.main-pentagon{
    background: black;
    transition: 1s;
    width: 17vw;
    height: 17vw;
    /* overflow: visible; */
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.main-pentagon_border_inner{
    position: absolute;
    /* scale: 1.3; */
    background:#8C8989;
    cursor: pointer;
    width: calc(17vw - 5px);
    height: calc(17vw - 5px);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.main-pentagon_border_inner p{
    font-size: 2vw;
}
.main-pentagon_border_outer{
    /* scale: 1.3; */
    position: absolute;
    border:rgb(0, 0, 0);
    background:#8C8989;
    cursor: pointer;
    width: 14vw;
    height: 14vw;

    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.seconday-pentagon{
    /* translate: 100px; */
    margin-top: 35vw;
    position: absolute;
    background: #8C8989;
    cursor: pointer;
    width: 12vw;
    height: 12vw;
    clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
    transform-origin:50% -100%;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.secondary-pentagon_border_inner{
    position: absolute;

    background: #8C8989;
    cursor: pointer;
    width: calc(9.5vw - 3px);
    height: calc(9.5vw - 3px);
    clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip{
    transform: rotateY('360deg');
}
.secondary-pentagon_border_outer{
    position: absolute;
    background: black;
    cursor: pointer;
    width: 9.5vw;
    height: 9.5vw;
    clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
}
.seconday-pentagon p{
    transition: 1s;
}
#r1{
    rotate:72deg ;
}
#r2{
    rotate: 144deg;
}
#r3{
    rotate: 216deg;
}
#r4{
    rotate: 288deg;
}
#r5{
    rotate: 360deg;
}



#r1p{
    rotate:-72deg ;
}
#r2p{
    rotate: -144deg;
}
#r3p{
    rotate: -216deg;
}
#r4p{
    rotate: -288deg;
}
#r5p{
    rotate: -360deg;
}
/* --------------------------------------event animation ends here ------------------------------ */